<div ng-controller="AchievementController as achievementCtrl">
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{ active:achievementCtrl.isSet('player180s') }">
            <a href ng-click="achievementCtrl.setTab('player180s')">Most 180s</a>
        </li>
        <li role="presentation" ng-class="{ active:achievementCtrl.isSet('highfinishes') }">
            <a href ng-click="achievementCtrl.setTab('highfinishes')">Highest Checkouts</a>
        </li>
        <li role="presentation" ng-class="{ active:achievementCtrl.isSet('bestlegs') }">
            <a href ng-click="achievementCtrl.setTab('bestlegs')">Best Legs</a>
        </li>
    </ul>

    <div ng-show="achievementCtrl.isSet('player180s')">
        <div class="admin-controls" ng-show="achievementCtrl.showPrivilegedData()">
            <h3 class="apply-indent"><font color="#777777">Modify 180s</font></h3>
            <h4 class="apply-indent">
                <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="Add 180s" ng-click="achievementCtrl.add180s()" ng-style="{cursor:'pointer'}"></span>
                <span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="bottom" title="Edit 180s" ng-click="achievementCtrl.edit180s()" ng-style="{cursor:'pointer'}"></span>
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Delete 180s" ng-click="achievementCtrl.delete180s()" ng-style="{cursor:'pointer'}"></span>
            </h4>
        </div>
        <h3>
            <span class="fa fa-print right-align" data-toggle="tooltip" data-placement="bottom" title="Print 180 Table" ng-click="achievementCtrl.print()" ng-style="{cursor:'pointer'}"></span>
        </h3>
        <table id="tablesdiv-180" class="table">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Number of 180s</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{ success:achievementCtrl.isMost180s(player180.noOf180s) }" ng-repeat="player180 in achievementCtrl.get180s() | orderBy:'-noOf180s'">
                    <td>{{player180.player}}</td>
                    <td>{{player180.noOf180s}}</td>
                </tr>
            </tbody>
        </table>
        </br>
    </div>

    <div ng-show="achievementCtrl.isSet('highfinishes')">
        <div class="admin-controls" ng-show="achievementCtrl.showPrivilegedData()">
            <h3 class="apply-indent"><font color="#777777">Modify High Checkouts</font></h3>
            <h4 class="apply-indent">
                <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="Add High Finish" ng-click="achievementCtrl.addHighFinish()" ng-style="{cursor:'pointer'}"></span>
                <span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="bottom" title="Edit High Finish" ng-click="achievementCtrl.editHighFinish()" ng-style="{cursor:'pointer'}"></span>
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Delete High Finish" ng-click="achievementCtrl.deleteHighFinish()" ng-style="{cursor:'pointer'}"></span>
            </h4>
        </div>
        </br>
        <div class="checkbox apply-indent">
            <label>
                <input id="highfinishcheckbox" type="checkbox" ng-model="achievementCtrl.highfinishcheckbox" ng-change="achievementCtrl.highFinishCheckboxChange(achievementCtrl.highfinishcheckbox)"> Show all recorded high checkouts
            </label>
        </div>
        <h3>
            <span class="fa fa-print right-align" data-toggle="tooltip" data-placement="bottom" title="Print High Finishes Table" ng-click="achievementCtrl.print()" ng-style="{cursor:'pointer'}"></span>
        </h3>
        <table id="tablesdiv-highfinishes" class="table">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Checkout</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{ success:achievementCtrl.isHighestFinish(highfinish.checkout) }" ng-repeat="highfinish in achievementCtrl.getHighFinishes() | orderBy:'-checkout'">
                    <td>{{highfinish.player}}</td>
                    <td>{{highfinish.checkout}}</td>
                </tr>
            </tbody>
        </table>
        </br>
    </div>

    <div ng-show="achievementCtrl.isSet('bestlegs')">
        <div class="admin-controls" ng-show="achievementCtrl.showPrivilegedData()">
            <h3 class="apply-indent"><font color="#777777">Modify Best Legs</font></h3>
            <h4 class="apply-indent">
                <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="Add Best Leg" ng-click="achievementCtrl.addBestLeg()" ng-style="{cursor:'pointer'}"></span>
                <span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="bottom" title="Edit Best Leg" ng-click="achievementCtrl.editBestLeg()" ng-style="{cursor:'pointer'}"></span>
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Delete Best Leg" ng-click="achievementCtrl.deleteBestLeg()" ng-style="{cursor:'pointer'}"></span>
            </h4>
        </div>
        </br>
        <div class="checkbox apply-indent">
            <label>
                <input id="bestlegscheckbox" type="checkbox" ng-model="achievementCtrl.bestlegcheckbox" ng-change="achievementCtrl.bestLegCheckboxChange(achievementCtrl.bestlegcheckbox)"> Show all recorded best legs
            </label>
        </div>
        <h3>
            <span class="fa fa-print right-align" data-toggle="tooltip" data-placement="bottom" title="Print Best Leg Table" ng-click="achievementCtrl.print()" ng-style="{cursor:'pointer'}"></span>
        </h3>
        <table id="tablesdiv-bestlegs" class="table">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Number of darts</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{ success:achievementCtrl.isBestLeg(bestleg.numberOfDarts) }" ng-repeat="bestleg in achievementCtrl.getBestLegs() | orderBy:'-numberOfDarts':true">
                    <td>{{bestleg.player}}</td>
                    <td>{{bestleg.numberOfDarts}}</td>
                </tr>
            </tbody>
        </table>
        </br>
    </div>
</div>