<div class="modal-header">
    <h4 class="modal-title">
    <span class="glyphicon glyphicon-plus" style="color:blue">
    </span> Add Group</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="addGroupDialog" novalidate role="form">
        <div class="form-group">
            <label for="groupname" class="col-sm-3 control-label">Group Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="groupname" id="groupname" ng-model="group.name" placeholder="group name" required>
            </div>
        </div>
    </form>
 </div>
 <div class="modal-footer">
     <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
     <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(addGroupDialog.$dirty && addGroupDialog.$invalid) || addGroupDialog.$pristine">Save</button>
 </div>