<div class="modal-header">
    <h4 class="modal-title">
    <span class="glyphicon glyphicon-plus">
    </span> Add Week</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="addWeekDialog" novalidate role="form">
        <div class="form-group">
            <label for="weekname" class="col-sm-3 control-label">Week Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="weekname" id="weekname" ng-model="week.name" placeholder="week name" required>
            </div>
        </div>
        <div class="form-group">
            <label for="weekdate" class="col-sm-3 control-label">Date</label>
            <div class="col-sm-6">
                <p class="input-group">
                    <input type="text" class="form-control" name="weekdate" id="weekdate" readonly='true' datepicker-popup="EEEE, MMMM d, yyyy" ng-model="week.date" is-open="datePickerOpened" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
    </form>
 </div>
 <div class="modal-footer">
     <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
     <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(addWeekDialog.$dirty && addWeekDialog.$invalid) || addWeekDialog.$pristine">Save</button>
 </div>