<div class="modal-header">
    <h4 class="modal-title">
    <span class="glyphicon glyphicon-lock">
    </span> Change Password</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="changePasswordDialog" novalidate role="form">
        <div class="form-group">
            <label for="currentPassword1" class="col-sm-3 control-label">Current Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="currentPassword1" id="currentPassword1" ng-model="currentPassword1" placeholder="enter current password" required>
            </div>
        </div>
        <div class="form-group">
            <label for="currentPassword2" class="col-sm-3 control-label">Verify Current Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="currentPassword2" id="currentPassword2" ng-model="currentPassword2" placeholder="verify current password" required>
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword" class="col-sm-3 control-label">New Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="newPassword" id="newPassword" ng-model="newPassword" pattern=".{6,}" placeholder="new password (mininum 6 characters)" required>
            </div>
        </div>
    </form>
 </div>
 <div class="modal-footer">
     <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
     <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(changePasswordDialog.$dirty && changePasswordDialog.$invalid) || changePasswordDialog.$pristine">Save</button>
 </div>