<div ng-controller="GroupController as groupCtrl">
    <p>
    <div class="col-sm-2"/>
        <button class="btn btn-sm btn-primary btn-block" ng-click="groupCtrl.showAddForm()">Add Group</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th ng-show="groupCtrl.showPrivilegedData()">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="group in groupCtrl.getGroups()" ng-include="groupCtrl.getTemplate(group)">
            </tr>
        </tbody>
    </table>

    <script type="text/ng-template" id="group-display">
        <td>{{group.name}}</td>
        <td>
            <img src="resources/images/edit.png" data-toggle="tooltip" data-placement="bottom" title="Edit Group" height="32" width="32" ng-click="groupCtrl.edit(group)"/>
            <img src="resources/images/delete.png" data-toggle="tooltip" data-placement="bottom" title="Delete Group" height="32" width="32" ng-click="groupCtrl.deleteRecord(group.id)"/>
        </td>
    </script>

    <script type="text/ng-template" id="group-edit">
        <td><input type="text" ng-model="selected.name" /></td>
        <td>
            <img src="resources/images/save.png"  data-toggle="tooltip" data-placement="bottom" title="Save Changes" height="32" width="32" ng-click="groupCtrl.saveChanges(selected.id, selected.name)"/>
            <img src="resources/images/cancel.png" data-toggle="tooltip" data-placement="bottom" title="Cancel Changes" height="32" width="32" ng-click="groupCtrl.cancelChanges()"/>
        </td>
    </script>
</div>