<div ng-controller="GroupController as groupCtrl">
    <p>
    <div class="col-sm-2"/>
        <button class="btn btn-sm btn-primary btn-block" ng-click="groupCtrl.showAddForm()">Add Group</button>
    </div>
    <table class="table">
        <col width="400">
        <thead>
            <tr>
                <th>Name</th>
                <th ng-show="groupCtrl.showPrivilegedData()"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="group in groupCtrl.getGroups()" ng-include="groupCtrl.getTemplate(group)">
            </tr>
        </tbody>
    </table>
    </br>

    <script type="text/ng-template" id="group-display">
        <td>{{group.name}}</td>
        <td>
            <h4>
                <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" title="Edit Group" ng-click="groupCtrl.edit(group)"></span>
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Delete Group" ng-click="groupCtrl.deleteRecord(group.id)"></span>
            </h4>
        </td>
    </script>

    <script type="text/ng-template" id="group-edit">
        <td><input type="text" class="form-control" ng-model="selected.name" /></td>
        <td>
            <h4>
                <span class="glyphicon glyphicon-floppy-saved" ng-style="{true: {color: '#333333'}, false: {color: '#D3D3D3'}}[groupCtrl.isValidEdit()]" data-toggle="tooltip" data-placement="bottom" title="Save Changes" ng-click="groupCtrl.saveChanges(selected.id, selected.name)"></span>
                <span class="glyphicon glyphicon-floppy-remove" data-toggle="tooltip" data-placement="bottom" title="Cancel Changes" ng-click="groupCtrl.cancelChanges()"></span>
            </h4>
        </td>
    </script>
</div>