<!doctype html>
<html ng-app="dartsApp">
    <head>
        <title>Premier League Darts</title>
        <!-- favicon -->
        <link rel='shortcut icon' href='resources/images/favicon.ico?v=3' type='image/x-icon'/ >
        <!-- Google tags -->
        <meta name="description" content="Murrayfield Sports Bar Premier League Darts" />
        <meta name="keywords" content="darts league software" />

        <meta name="author" content="John Tough" />
        <meta name="copyright" content="Copyright John Tough 2015" />
        <meta name="application-name" content="Darts League Application" />

        <!-- Facebook tags -->
        <meta property="fb:app_id" content="981910948526012" /> 
        <meta property="og:type" content="article" /> 
        <meta property="og:url" content="http://nodejs-dartsapp.rhcloud.com" /> 
        <meta property="og:title" content="Murrayfield Sports Bar" /> 
        <meta property="og:image" content="http://nodejs-dartsapp.rhcloud.com/resources/images/dartboard.jpg" /> 
        <meta property="og:description" content="Premier League Darts" />
 
        <!-- Twitter tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Murrayfield Sports Bar" />
        <meta name="twitter:description" content="Premier League Darts" />
        <meta name="twitter:image" content="http://nodejs-dartsapp.rhcloud.com/resources/images/dartboard.jpg" />

        <!-- Library files for Angular -->
        <script src="resources/js/angular/angular.min.js" type="text/javascript" ></script>
        <script src="resources/js/angular/angular-animate.min.js" type="text/javascript" ></script>
        <script src="resources/js/angular/angular-sanitize.js" type="text/javascript" ></script>
        <!-- Library files for jQuery -->
        <script src="resources/js/jquery/jquery.min.js" type="text/javascript" ></script>
        <script src="resources/js/jquery/jquery-ui.min.js" type="text/javascript" ></script>
        <!-- Library files for bootstrap -->
        <script src="resources/js/bootstrap/bootstrap.min.js" type="text/javascript" ></script>
        <link rel="stylesheet" href="/resources/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/resources/css/bootstrap/overrides.css">
        <!-- 3rd party Library for modal dialogs -->
        <script src="resources/js/dialogs/ui-bootstrap-tpls-0.11.2.min.js" type="text/javascript" ></script>
        <script src="resources/js/dialogs/dialogs.js" type="text/javascript" ></script>
        <link rel="stylesheet" href="resources/css/dialogs/dialogs.css">
        <!-- 3rd party Library for toast messages -->
        <script src="resources/js/toast/angular-toastr.js" type="text/javascript" ></script>
        <script src="resources/js/toast/angular-toastr.tpls.js" type="text/javascript" ></script>
        <link rel="stylesheet" type="text/css" href="resources/css/toast/angular-toastr.css" />
        <!-- font-awesome -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
        <!-- Application files -->
        <script src="polyfill.js"></script>
        <script src="app.js"></script>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="resources/css/customstyles.css">
    </head>
    <!-- Facebook API initialisation -->
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '981910948526012',
                xfbml      : true,
                version    : 'v2.4'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <section ng-controller="NavigationController as navigationCtrl" ng-controller="LoginController as loginCtrl">
        <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{ active:navigationCtrl.isSet('home') }">
              <a href ng-click="navigationCtrl.setTab('home')"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li ng-class="{ active:navigationCtrl.isSet('news') }">
              <a href ng-click="navigationCtrl.setTab('news')">News</a>
            </li>
            <li ng-class="{ active:navigationCtrl.isSet('comments') }">
              <a href ng-click="navigationCtrl.setTab('comments')"><i class="fa fa-facebook"></i> Comments</a>
            </li>
            <li ng-show="navigationCtrl.showPrivilegedData()" ng-class="{ active:navigationCtrl.isSet('weeks') }">
              <a href ng-click="navigationCtrl.setTab('weeks')">Weeks</a>
            </li>
            <li ng-show="navigationCtrl.showPrivilegedData()" ng-class="{ active:navigationCtrl.isSet('groups') }">
              <a href ng-click="navigationCtrl.setTab('groups')">Groups</a>
            </li>
            <li ng-show="navigationCtrl.showPrivilegedData()" ng-class="{ active:navigationCtrl.isSet('venues') }">
              <a href ng-click="navigationCtrl.setTab('venues')">Boards</a>
            </li>
            <li ng-class="{ active:navigationCtrl.isSet('players') }">
              <a href ng-click="navigationCtrl.setTab('players')">Players</a>
            </li>
            <li ng-class="{ active:navigationCtrl.isSet('fixtures') }">
              <a href ng-click="navigationCtrl.setTab('fixtures')">Fixtures</a>
            </li>
            <li ng-class="{ active:navigationCtrl.isSet('results') }">
              <a href ng-click="navigationCtrl.setTab('results')">Results</a>
            </li>
            <li ng-class="{ active:navigationCtrl.isSet('tables') }">
              <a href ng-click="navigationCtrl.setTab('tables')">Tables</a>
            </li>
            <li ng-class="{ active:navigationCtrl.isSet('achievements') }">
              <a href ng-click="navigationCtrl.setTab('achievements')">Achievements</a>
            </li>
            <li ng-class="{ active:navigationCtrl.isSet('login') }">
              <a href ng-click="navigationCtrl.setTab('login')"><span class="glyphicon glyphicon-lock"></span> Manage Login</a>
            </li>
          </ul>
        </div>
        </div>
        </nav>
          <!--  Description Tab's Content  -->
          <home-page ng-show="navigationCtrl.isSet('home')"></home-page>
          <news-page ng-show="navigationCtrl.isSet('news')"></news-page>
          <comments-page ng-show="navigationCtrl.isSet('comments')"></comments-page>
          <weeks-list ng-show="navigationCtrl.isSet('weeks')"></weeks-list>
          <groups-list ng-show="navigationCtrl.isSet('groups')"></groups-list>
          <venues-list ng-show="navigationCtrl.isSet('venues')"></venues-list>
          <players-list ng-show="navigationCtrl.isSet('players')"></players-list>
          <fixtures-list ng-show="navigationCtrl.isSet('fixtures')"></fixtures-list>
          <results-list ng-show="navigationCtrl.isSet('results')"></results-list>
          <tables-list ng-show="navigationCtrl.isSet('tables')"></tables-list>
          <achievements-list ng-show="navigationCtrl.isSet('achievements')"></achievements-list>
          <login-form ng-show="navigationCtrl.isSet('login')"></login-form>
    </section>
   
    <footer class="footer">
      <div class="container">
            <p class="alignleft">&copy; 2015 John Tough</p>
            <p class="alignright">
                <span class="glyphicon glyphicon-envelope"></span><a href="mailto:john.c.tough@gmail.com" style='color: white;'> john.c.tough@gmail.com</a>
            </p>
      </div>
    </footer>
    <!-- initialising bootstrap tooltips -->
    <script type="text/javascript">
        $(function () {
            $('body').tooltip({
                selector: '[data-toggle="tooltip"]'
            });
        });
    </script>
    <!-- jQuery navbar overrides -->
    <script type="text/javascript">
        <!-- closes collapsed navbar menu after menu item click -->
        $(document).ready(function () {
            $(".navbar-nav li a").click(function(event) {
                $(".navbar-collapse").collapse('hide');
            });
        });
        <!--  enables all items to be displayed on collapsed navbar menu -->
        $(".navbar-collapse").css({
            maxHeight: $(window).height() - $(".navbar-header").height() + "px" 
        });
    </script>
</html>