<!doctype html>
<html ng-app="dartsApp">
    <head>
        <title>Premier League Darts</title>
        <!-- Library files from CDN-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-sanitize.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- 3rd party Library for modal dialogs -->
        <script src="http://rawgit.com/m-e-conroy/angular-dialog-service/master/example/js/ui-bootstrap-tpls-0.11.2.min.js"></script>
        <script src="http://rawgit.com/m-e-conroy/angular-dialog-service/master/example/js/dialogs.js"></script>
        <link rel="stylesheet" href="http://rawgit.com/m-e-conroy/angular-dialog-service/master/example/css/dialogs.css">
        <!-- 3rd party Library for toast messages -->
        <link rel="stylesheet" type="text/css" href="http://rawgit.com/Foxandxss/angular-toastr/master/dist/angular-toastr.css" />
        <script type="text/javascript" src="http://rawgit.com/Foxandxss/angular-toastr/master/dist/angular-toastr.js"></script>
        <script type="text/javascript" src="http://rawgit.com/Foxandxss/angular-toastr/master/dist/angular-toastr.tpls.js"></script>
        <!-- favicon -->
        <link rel='shortcut icon' href='/resources/images/favicon.ico' type='image/x-icon'/ >
  </head>
        <!-- Application files -->
        <script src="app.js"></script>
    </head>

    <section ng-controller="NavigationController as navigationCtrl" ng-controller="LoginController as loginCtrl">
          <ul class="nav nav-pills">
            <li ng-class="{ active:navigationCtrl.isSet('home') }">
              <a href ng-click="navigationCtrl.setTab('home')">Home</a>
            </li>
            <li ng-show="navigationCtrl.showPrivilegedData()" ng-class="{ active:navigationCtrl.isSet('weeks') }">
              <a href ng-click="navigationCtrl.setTab('weeks')">Weeks</a>
            </li>
            <li ng-show="navigationCtrl.showPrivilegedData()" ng-class="{ active:navigationCtrl.isSet('groups') }">
              <a href ng-click="navigationCtrl.setTab('groups')">Groups</a>
            </li>
            <li ng-show="navigationCtrl.showPrivilegedData()" ng-class="{ active:navigationCtrl.isSet('venues') }">
              <a href ng-click="navigationCtrl.setTab('venues')">Boards</a>
            </li>
            <li ng-class="{ active:navigationCtrl.isSet('players') }">
              <a href ng-click="navigationCtrl.setTab('players')">Players</a>
            </li>
            <li ng-class="{ active:navigationCtrl.isSet('fixtures') }">
              <a href ng-click="navigationCtrl.setTab('fixtures')">Fixtures</a>
            </li>
            <li ng-class="{ active:navigationCtrl.isSet('results') }">
              <a href ng-click="navigationCtrl.setTab('results')">Results</a>
            </li>
            <li ng-class="{ active:navigationCtrl.isSet('tables') }">
              <a href ng-click="navigationCtrl.setTab('tables')">Tables</a>
            </li>
            <li ng-class="{ active:navigationCtrl.isSet('achievements') }">
              <a href ng-click="navigationCtrl.setTab('achievements')">Achievements</a>
            </li>
            <li ng-class="{ active:navigationCtrl.isSet('login') }">
              <a href ng-click="navigationCtrl.setTab('login')">Manage Login</a>
            </li>
          </ul>

          <!--  Description Tab's Content  -->
          </div>
          <weeks-list ng-show="navigationCtrl.isSet('weeks')"></weeks-list>
          <groups-list ng-show="navigationCtrl.isSet('groups')"></groups-list>
          <venues-list ng-show="navigationCtrl.isSet('venues')"></venues-list>
          <players-list ng-show="navigationCtrl.isSet('players')"></players-list>
          <fixtures-list ng-show="navigationCtrl.isSet('fixtures')"></fixtures-list>
          <results-list ng-show="navigationCtrl.isSet('results')"></results-list>
          <achievements-list ng-show="navigationCtrl.isSet('achievements')"></achievements-list>
          <login-form ng-show="navigationCtrl.isSet('login')"></login-form>
    </section>

    <!--  initialising bootstrap tooltips  -->
    <script type="text/javascript">
        $(function () {
            $('body').tooltip({
                selector: '[data-toggle="tooltip"]'
            });
        });
    </script>
</html>