<div ng-controller="LoginController as loginCtrl">

<form class="form-horizontal" ng-submit="login()" ng-hide="loginCtrl.isAuthorised()">
    <br>
    <div class="form-group">
        <label for="inputUsername" class="col-sm-3 control-label">Username</label>
        <div class="col-sm-6">
        <input type="text" id="inputUsername" ng-model="username" class="form-control" placeholder="Username" required autofocus>
    </div>
    </div>

    <div class="form-group">
        <label for="inputPassword" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-6">
        <input type="password" id="inputPassword" ng-model="password" class="form-control" placeholder="Password" required>
    </div>
    </div>
    <div class="col-sm-3"/>
    </div>
    <div class="col-sm-6">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </div>
    <br>
</form>
<br>

<div ng-show="loginCtrl.isAuthorised()">
    <p>
    <form class="form-signin">
        <div class="col-sm-3"/>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-lg btn-primary btn-block" ng-click="loginCtrl.showChangePasswordDialog()">Change Password</button>
        </div>
        <br>
    </form>

    <form class="form-signin" ng-submit="logout()">
        <div class="col-sm-3"/>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log out</button>
        </div>
        <br>
    </form>
    <br>
</div>

</div>
<br>