<div ng-controller="PlayerController as playerCtrl">
    <p>
    <div class="col-sm-2"/>
        <button class="btn btn-sm btn-primary btn-block" ng-click="playerCtrl.toggleFilters()">{{playerCtrl.showFilters ? 'Hide Filters' : 'Show Filters'}}</button>
    </div>
    <div class="col-sm-2"/>
        <button class="btn btn-sm btn-primary btn-block" ng-show="playerCtrl.showPrivilegedData()" ng-click="playerCtrl.showAddForm()">Add Player</button>
    </div>
    <form id="addForm" class="form-horizontal">
        <div class="form-group">
        </div>
    </form>
    <form ng-if="playerCtrl.showFilters" id="filterForm" class="form-horizontal fade">
        <div class="form-group">    
        <label for="groupFilter" class="col-sm-3 control-label">Filter players by group</label>
            <div class="col-sm-6">
            <select id="groupFilter" ng-model="obj.groupfilter" ng-change="playerCtrl.filter()" class="form-control" >
                <option value="all">All</option>
                <option value="{{group.id}}" ng-repeat="group in playerCtrl.getGroups()">
                   {{group.name}} 
                </option>
            </select>
        </div>
        </div>
    </form>

    <table class="table">
        <col width="450">
        <col width="200">
        <col width="300">
        <col width="300">
        <thead>
            <tr>
                <th>Name</th>
                <th>Group</th>
                <th ng-show="playerCtrl.showPrivilegedData()">Email Address</th>
                <th ng-show="playerCtrl.showPrivilegedData()">Phone Number</th>
                <th ng-show="playerCtrl.showPrivilegedData()"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in playerCtrl.getPlayers() | orderBy:'group'" ng-include="playerCtrl.getTemplate(player)">
            </tr>
        </tbody>
    </table>
    </br>

    <script type="text/ng-template" id="player-display">
        <td>{{player.forename + ' ' + player.surname}}</td>
        <td>{{player.group}}</td>
        <td ng-show="playerCtrl.showPrivilegedData()">{{player.emailAddress}}</td>
        <td ng-show="playerCtrl.showPrivilegedData()">{{player.phoneNumber}}</td>
        <td ng-show="playerCtrl.showPrivilegedData()">
            <h4>
                <span class="glyphicon glyphicon-wrench" data-toggle="tooltip" data-placement="bottom" title="Edit PLayer Details" ng-click="playerCtrl.edit(player)"></span>
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Delete Player" ng-click="playerCtrl.deleteRecord(player.id)"></span>
            </h4>
        </td>
    </script>

    <script type="text/ng-template" id="player-edit">
        <td class="form-inline"><input type="text" class="form-control" ng-model="selected.forename" /><input type="text" class="form-control" ng-model="selected.surname" /></td>
        <td>{{selected.group}}</td>
        <td><input type="text" class="form-control" ng-model="selected.emailAddress" /></td>
        <td><input type="text" class="form-control" ng-model="selected.phoneNumber" /></td>
        <td>
            <h4>
                <span class="glyphicon glyphicon-floppy-saved" data-toggle="tooltip" data-placement="bottom" title="Save Changes" ng-click="playerCtrl.saveChanges(selected.id, selected.forename, selected.surname, selected.emailAddress, selected.phoneNumber)"></span>
                <span class="glyphicon glyphicon-floppy-remove" data-toggle="tooltip" data-placement="bottom" title="Cancel Changes" ng-click="playerCtrl.cancelChanges()"></span>
            </h4>
        </td>
    </script>
</div>