<div ng-controller="TableController as tableCtrl">
    <p>
    <div class="col-sm-2"/>
        <button class="btn btn-sm btn-primary btn-block" ng-click="tableCtrl.toggleFilters()">{{tableCtrl.showFilters ? 'Hide Filters' : 'Show Filters'}}</button>
    </div>
    <form id="addForm" class="form-horizontal">
        <div class="form-group">
        </div>
    </form>
    <form ng-if="tableCtrl.showFilters" id="filterForm" class="form-horizontal fade">
        <div class="form-group">
        <label for="tableFilter" class="col-sm-3 control-label">Filter tables</label>
            <div class="col-sm-6">
            <select id="tableFilter" ng-model="obj.tableFilter" ng-change="tableCtrl.filter()" class="form-control">
                <option value="all">All</option>
                <option value="{{group.id}}" ng-repeat="group in tableCtrl.getGroups()">
                   {{group.name}}
                </option>
            </select>
        </div>
        </div>
    </form>
    <div ng-repeat="table in tableCtrl.getTables()">
    <h2>{{table.groupName}}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Played</th>
                    <th>Won</th>
                    <th>Drawn</th>
                    <th>Lost</th>
                    <th>Legs For</th>
                    <th>Legs Against</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in table.players | orderBy:['-points', '-legsWon', 'legsLost']">
                    <th ng-class="{ success: $index < 4 }">{{player.player}}</th>
                    <th ng-class="{ success: $index < 4 }">{{player.played}}</th>
                    <th ng-class="{ success: $index < 4 }">{{player.won}}</th>
                    <th ng-class="{ success: $index < 4 }">{{player.drawn}}</th>
                    <th ng-class="{ success: $index < 4 }">{{player.lost}}</th>
                    <th ng-class="{ success: $index < 4 }">{{player.legsWon}}</th>
                    <th ng-class="{ success: $index < 4 }">{{player.legsLost}}</th>
                    <th ng-class="{ success: $index < 4 }">{{player.points}}</th>
                </tr>
            </tbody>
        </table>
        </br>
    </div>
</div>