<div ng-controller="VenueController as venueCtrl">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th ng-show="venueCtrl.showPrivilegedData()">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="venue in venueCtrl.getVenues()" ng-include="venueCtrl.getTemplate(venue)">
            </tr>
        </tbody>
    </table>

    <script type="text/ng-template" id="venue-display">
        <td>{{venue.name}}</td>
        <td>
            <img src="resources/images/edit.png" data-toggle="tooltip" data-placement="bottom" title="Edit Board" height="32" width="32" ng-click="venueCtrl.edit(venue)"/>
            <img src="resources/images/delete.png" data-toggle="tooltip" data-placement="bottom" title="Delete Board" height="32" width="32" ng-click="venueCtrl.deleteRecord(venue.id)"/>
        </td>
    </script>

    <script type="text/ng-template" id="venue-edit">
        <td><input type="text" ng-model="selected.name" /></td>
        <td>
            <img src="resources/images/save.png"  data-toggle="tooltip" title="Save Changes" height="32" width="32" ng-click="venueCtrl.saveChanges(selected.id, selected.name)"/>
            <img src="resources/images/cancel.png" data-toggle="tooltip" title="Cancel Changes" height="32" width="32" ng-click="venueCtrl.cancelChanges()"/>
        </td>
    </script>

    <button class="btn btn-lg btn-primary btn-block" ng-click="venueCtrl.showAddForm()">Add Board</button>
</div>