<div ng-controller="VenueController as venueCtrl">
    <p>
    <div class="col-sm-2"/>
        <button class="btn btn-sm btn-primary btn-block" ng-click="venueCtrl.showAddForm()">Add Board</button>
    </div>
    <table class="table">
        <col width="400">
        <thead>
            <tr>
                <th>Name</th>
                <th ng-show="venueCtrl.showPrivilegedData()"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="venue in venueCtrl.getVenues()" ng-include="venueCtrl.getTemplate(venue)">
            </tr>
        </tbody>
    </table>
    </br>

    <script type="text/ng-template" id="venue-display">
        <td>{{venue.name}}</td>
        <td>
            <h4>
                <span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="bottom" title="Edit Board" ng-click="venueCtrl.edit(venue)" ng-style="{cursor:'pointer'}"></span>
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Delete Board" ng-click="venueCtrl.deleteRecord(venue.id, venue.name)" ng-style="{cursor:'pointer'}"></span>
            </h4>
        </td>
    </script>

    <script type="text/ng-template" id="venue-edit">
        <td><input type="text" class="form-control" ng-model="selected.name" /></td>
        <td>
            <h4>
                <span class="glyphicon glyphicon-floppy-saved" ng-style="{true: {color: '#333333', cursor: 'pointer'}, false: {color: '#D3D3D3', cursor: 'not-allowed'}}[venueCtrl.isValidEdit()]" data-toggle="tooltip" data-placement="bottom" title="Save Changes" ng-click="venueCtrl.saveChanges(selected.id, selected.name)"></span>
                <span class="glyphicon glyphicon-floppy-remove" data-toggle="tooltip" data-placement="bottom" title="Cancel Changes" ng-style="{cursor:'pointer'}" ng-click="venueCtrl.cancelChanges()"></span>
            </h4>
        </td>
    </script>
</div>