<div ng-controller="WeekController as weekCtrl">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="week in weekCtrl.getWeeks()" ng-include="weekCtrl.getTemplate(week)">
            </tr>
        </tbody>
    </table>

    <form class="form-horizontal" ng-show="weekCtrl.showPrivilegedData()" ng-submit="addWeek()">
    <h2 class="form-signin-heading">Enter details to add extra weeks</h2>

    <div class="form-week">
        <label for="inputName" class="col-sm-3 control-label">Week Name</label>
        <div class="col-sm-6">
        <input type="text" id="inputName" ng-model="weekname" class="form-control" placeholder="week name" required autofocus>
    </div>
    </div>

    <script type="text/ng-template" id="week-display">
        <td>{{week.name}}</td>
        <td>
            <img src="resources/images/edit.png" data-toggle="tooltip" data-placement="bottom" title="Edit Week" height="32" width="32" ng-click="weekCtrl.edit(week)"/>
            <img src="resources/images/delete.png" data-toggle="tooltip" data-placement="bottom" title="Delete Week" height="32" width="32" ng-click="weekCtrl.deleteRecord(week.id)"/>
        </td>
    </script>

    <script type="text/ng-template" id="week-edit">
        <td><input type="text" ng-model="selected.name" /></td>
        <td>
            <img src="resources/images/save.png"  data-toggle="tooltip" data-placement="bottom" title="Save Changes" height="32" width="32" ng-click="weekCtrl.saveChanges(selected.id, selected.name)"/>
            <img src="resources/images/cancel.png" data-toggle="tooltip"data-placement="bottom" title="Cancel Changes" height="32" width="32" ng-click="weekCtrl.cancelChanges()"/>
        </td>
    </script>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Week</button>
    <font ng-show="weekCtrl.isDuplicateWeekAttempt()" size="3" color="red">Week already exists</font>

</form>
</div>