html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 50px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    background-color: #566473;
    /* Set the fixed height of the footer here */
    height: 60px;
}

.alignleft {
    float: left;
    margin: 20px 0;
}
.alignright {
    float: right;
    margin: 20px 0;
}

.navbar-default {
    background-color: #566473;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
}

.btn-primary {
    background-color: #566473;
    border-color: #FFFFFF;
}

.btn-primary:hover , .btn-primary:focus, .btn-primary:active {
    background-color: #37404A !important;
    border-color: #FFFFFF;
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #37404A;
    border-color: #FFFFFF;
}